:root{ 
  --txtcolor : black;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .screen{
    border: solid 2px;
    border-color: var(--txtcolor);
    margin-bottom: 10px;
  }
 
  section{
    /*background: linear-gradient(300deg,yellow,green,blue,red,black);*/

    text-align: center;
    color: var(--txtcolor);
  }
  .img-gallery{
    transition: transform .4s;
  }
  .img-gallery:hover{
    transform: scale(1.1);
  }
